{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
<style>
:root {
    --flashed-messages-display: block;
}
</style>
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Schedule your Schoology updates</h1>
        <p class="main-description">Update scheduler lets you write, edit, and schedule your Schoology updates from one place, and you don't have to worry about accessing your computer to post them.</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('update_scheduler.scheduler') }}">
                <button class="small-button">
                    Start scheduling updates
                </button>
            </a>
        {% else %}
            <a href="{{ url_for('update_scheduler.scheduler') }}">
                <button class="small-button">
                    Sign in to schedule updates
                </button>
            </a>
        {% endif %}
    </section>
    <section id="main-image">
        <video class="main-image" autoplay loop muted poster="/static/img/schedule-example-thumbnail.png">
            <source src="/static/videos/schedule-example.mp4">
            <img class="main-image" src="/static/img/schedule-example-thumbnail.png" alt="A picture of the Update Scheduler web application.">
        </video>
    </section>
</main>
{% endblock %}
