{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>Tutorial</h1>
        <p>Update Scheduler is a utility for writing, editing, and posting your Schoology updates when and how you want. This tutorial outlines the basic features of Update Scheduler and also introduces you to specialized usages. Ideally, these sections and steps should be followed in order.</p>
        <h2>Logging in to Update Scheduler</h2>
        <p>Logging in to Update Scheduler is the first step to scheduling your Schoology updates.</p>
        <ol class="step-list">
            <li>Go to <a href="{{ url_for('main.login') }}">{{ url_for('main.login', _external=True) }}</a> and follow the steps from there.</li>
            <li>Schedule updates from the scheduling page at <a href="{{ url_for('update_scheduler.scheduler') }}">{{ url_for('update_scheduler.scheduler', _external=True) }}</a>.</li>
        </ol>
        <h2>Creating an update</h2>
        <p>There are two steps to scheduling a Schoology update, and the first happens to be writing and saving one. Yes, you can draft and save your updates independently from scheduling them while still in the same place.</p>
        <ol class="step-list">
            <li>In the text editor, type out the content for your update.</li>
            <li>On the left hand side of the scheduling page, choose a section, group, or school where you would like to post the update.</li>
            <li>Click the "save" button below the text editor to save your progress for later.</li>
        </ol>
        <h2>Scheduling an update</h2>
        <p>After you have saved an update, you can schedule it to post at a certain time.</p>
        <ol class="step-list">
            <li>Click the "edit" button under the card displaying your update in the Saved Updates bar.</li>
            <li>Click on the "Choose a date" input to open the date picker. Choose a date and time to post your update at.</li>
            <li>Alternatively, you can click on the word "on" and choose "in", which allows you to post your update <em>in</em> a certain amount of time rather than <em>on</em> a specific date.</li>
            <li>After specifying either a date or duration, click the "Save and schedule" button to schedule your update to post at the time you filled in.</li>
        </ol>
        <h2>Common problems</h2>
        <p>A few common errors that can occur and their respective solutions are listed below:</p>
        <ul>
            <li>
                Missing required fields error
                <ol>
                    <li>Make sure you have selected a destination (realm) for the update.</li>
                    <li>Make sure you have written some text for the update.</li>
                    <li>If you are trying to schedule an update, it requires either a post date or time.</li>
                </ol>
            </li>
            <li>
                "An error occured. Check your update's post time"
                <ol>
                    <li>Make sure your update has a post time, and make sure that time is in the future.</li>
                </ol>
            </li>
            <li>
                Schoology updates not posting?
                <ol>
                    <li>Check to make sure you are able to post Schoology updates to the specified course or group from Schoology's website.</li>
                    <li>Make sure you schedule the updates rather than just saving them.</li>
                    <li>If problems persist, file an issue <a href="https://github.com/AndrewLester/update-scheduler/issues/new">here</a>.</li>
                </ol>
            </li>
        </ul>
    </article>
</main>
{% endblock %}
